{% extends "base.html" %}

{% block title %}
  Main
{% endblock title %}

{% block content %}
  <h2>Top 3 Products</h2>

  <ul class="product-list">
    {% for product in most_viewed_products %}
      <li>
        <strong>Product Name:</strong> {{ product.name }}<br>
        <strong>Product ID:</strong> {{ product.id }}
      </li>
    {% endfor %}
  </ul>
  <h2>Last Viewed Products</h2>
  <ul class="product-list">
    {% for product in last_viewed_products %}
      <li>
        <strong>Product Name:</strong> {{ product.name }}<br>
        <strong>Product ID:</strong> {{ product.id }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
