{% extends 'base.html' %}

{% block meta %}
  <title>{{ category.name }} - Category Detail</title>
{% endblock meta %}

{% block content %}
  <div class="container mt-4">
    <h1>{{ category.name }}</h1>
  </div>

    <!-- Filters-->
  {% include 'utils/filters.html' %}

    <!-- Product List -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for product in products %}
      <div class="col">
        {% include 'utils/product_card.html' %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

