{% extends "base.html" %}

{% block meta %}
<title>Product List</title>
{% endblock meta %}

{% block content %}
    <h1>Product List</h1>
    <ul>
        {% for product in product_list %}
            <li>
                <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                <p>Description: {{ product.description }}</p>
                <p>Category: {{ product.category }}</p>
                <p>Price: ${{ product.price }}</p>
                <!-- Add more product details as needed -->
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
