{% extends "base.html" %}

{% block meta %}
    <title>{{ object.name }}</title>
{% endblock meta %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h1>{{ object.name }}</h1>
                <p>Description: {{ object.description }}</p>
                <p>Category: {{ object.category }}</p>
                <p>Price: ${{ object.price }}</p>

                <!-- Display all product images in a row -->
                <div class="row">
                    {% for product_image in object.active_images %}
                        <div class="col-md-4 mb-3">
                            <img src="{{ product_image.image.url }}" class="img-fluid" alt="{{ object.name }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <!-- Form for adding the product to the cart -->
                <form method="post" action="{% url 'basket:basket_add' object.id %}" class="mt-4">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" id="quantity" min="1" value="1" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
