{% extends "base.html" %}

{% block meta %}
  <title>My Product List</title>
{% endblock meta %}

{% block content %}
  <div class="container mt-4">
    <h1>My Product List</h1>

    <!-- Filters-->
    {% include 'utils/filters.html' %}

      <!-- Product List -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for product in product_list %}
        <div class="col">
          {% include 'utils/product_card.html' %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
