{% extends "base.html" %}

{% block title %}
  User Page
{% endblock title %}

{% block content %}
  <h1>{{ user.username }}</h1>

  <p>Username: {{ user.username }}</p>
  <p>First Name: {{ user.first_name }}</p>
  <p>Last Name: {{ user.last_name }}</p>
  <p>Email: {{ user.email }}</p>
  <p>type: {{ user.user_type }}</p>
  <a href="{% url 'user_edit' uuid=user.uuid %}" class="btn btn-outline-primary">Edit User</a>
  {% if user.user_type == 'Seller' %}
    <a href="{% url 'product_create' %}" class="btn btn-outline-primary">Add product</a>
    <a href="{% url 'product_by_seller' %}" class="btn btn-outline-primary">My products</a>
  {% endif %}

{% endblock content %}
