{% extends "base.html" %}

{% block content %}
   <div class="container">
    <h1>About Us</h1>
    <h3>Our Story</h3>
    <p>
      Welcome to Your E-commerce Store! We are a passionate team of e-commerce enthusiasts dedicated to providing you with the best shopping experience.
    </p>

    <h3>Our Mission</h3>
    <p>
      Our mission is to offer high-quality products at competitive prices while delivering exceptional customer service. We believe in making online shopping convenient and enjoyable for everyone.
    </p>

    <h3>Our Team</h3>
    <p>
      Meet the faces behind Your E-commerce Store. We are a diverse group of individuals with expertise in various areas, all working together to ensure your satisfaction.
    </p>
    <ul>
      <li><strong>Maluszczak Jedrzej, Vavilau Yahor</strong> - Founders</li>
      <li><strong>Glukhov Simon</strong> - Bugfixing department</li>
      <li><strong>Bunko Olekii</strong> - PR waiting department </li>
      <li><strong>Maroz Katsiaryna</strong> - Asynchronous department</li>
      <li><strong>Shakuro Mariya</strong> - Asynchronous department</li>
      <li><strong>Volodin Viacheslav</strong> - Newcomer department</li>
    </ul>

    <h3>Contact Information</h3>
    <p>
      If you have any questions or need assistance, please feel free to contact us. We're here to help!
    </p>
    <ul>
      <li><strong>Email:</strong> contact@yourstore.com</li>
      <li><strong>Phone:</strong> +1 (123) 456-7890</li>
      <li><strong>Address:</strong> 1234 E-commerce Street, City, Country</li>
    </ul>
  </div>
{% endblock %}
