{% extends "base.html" %}

{% block meta %}
<title>Product List</title>
{% endblock meta %}

{% block content %}
    <h1>Product List</h1>
    <ul>
        {% for product in product_list %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>Description: {{ product.description }}</p>
                <p>Category: {{ product.category }}</p>
                <p>Price: ${{ product.price }}</p>
                <!-- Add more product details as needed -->
                <form method="post" action="{% url 'basket_add' product.id %}">
                    {% csrf_token %}
                    <button type="submit">Add to basket</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
