<header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
    <div class="col-md-4 mb-2 mb-md-0">
        <a href="{% url 'index' %}" class="fs-4">Awesome ecommerce</a>
    </div>

    <div class="col-md-4 text-center">
        <form class="d-inline-flex" role="search">
            <input type="search" class="form-control form-control-light text-bg-light" style="width: 150px;" placeholder="Search..." aria-label="Search">
        </form>
    </div>

    <div class="col-md-4 text-end">
        {% if user.is_authenticated %}
            <a href="{% url 'user_detail' uuid=user.uuid %}" class="btn btn-outline-primary">{{ user.username }}</a>
            <a href="{% url 'product_list' %}" class="btn btn-outline-primary">View Products</a>
            <a href="{% url 'basket:basket_detail' %}" class="btn btn-outline-primary">Basket</a>
            <a href="{% url 'account_logout' %}" class="btn btn-primary">Logout</a>
        {% else %}
            <a href="{% url 'product_list' %}" class="btn btn-outline-primary">View Products</a>
            <a href="{% url 'account_login' %}?next=/" class="btn btn-primary">Login</a>
            <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
        {% endif %}
    </div>
</header>
