{% extends "base.html" %}

{% block meta %}
    <title>Thank You</title>
{% endblock meta %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Thank You for Your Order!</h1>

        <div class="row">
            <div class="col-md-6">
                <h2>Order Summary:</h2>

                <ul class="list-group">
                    <li class="list-group-item"><strong>Order ID:</strong> {{ order.id }}</li>
                    <li class="list-group-item"><strong>User Name:</strong> {{ order.user_name }}</li>
                    <li class="list-group-item"><strong>User Email:</strong> {{ order.user_email }}</li>
                </ul>
            </div>

            <div class="col-md-6">
                <h2>Products in Your Order:</h2>

                <ul class="list-group">
                    {% for order_product in order.orderproduct_set.all %}
                        <li class="list-group-item">
                            <strong>{{ order_product.product.name }}</strong>
                            - Quantity: {{ order_product.quantity }}
                            - Price: ${{ order_product.product_price }}
                        </li>
                    {% endfor %}
                </ul>

                <p><strong>Total Price:</strong> ${{ total_price }}</p>
            </div>
        </div>

        <div class="mt-4">
            <h2>Additional Details:</h2>

            <ul class="list-group">
                <li class="list-group-item"><strong>Payment Method:</strong> {{ payment_method }}</li>
                <li class="list-group-item"><strong>Delivery Method:</strong> {{ delivery_method }}</li>
                <li class="list-group-item"><strong>Shipment Address:</strong> {{ shipment_address }}</li>
            </ul>
        </div>
    </div>
{% endblock content %}
