<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}
    <title>Awesome ecommerce</title>
    {% endblock meta %}
</head>
<body>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'account_logout' %}">Logout</a>
        <a href="{% url 'user_profile' %}">Profile</a>
    {% else %}
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
    {% block header %}
    {% include "includes/header.html" %}
    {% endblock header %}

    {% block content %}{% endblock content %}

    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock footer %}
</body>
</html>
