<!doctype html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}
    <title>Awesome ecommerce</title>
    {% endblock meta %}

</head>
<body>
    {% block header %}
    {% include "includes/header.html" %}
    {% endblock header %}

    {% block content %}{% endblock content %}

    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock footer %}
</body>
</html>
